hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    text-align: center;
    padding: 0.5em;
}

.rodape__dev {
    text-align: center;
    color: var(--laranja);
    font-weight: 10;
}